<div class="row">
  <div class="col-trip-edit col s6">
    <span class="flow-text">
      <div id="map"></div>
      <div id="panel"></div>
    </span>
  </div>
  <div class="col-trip-edit col s6">
    <!-- <h1>Plan your Trip</h1> -->
    <div class="trip_box">
      <div class="row">
        <h3><%= @trip.trip_name %></h3>
      </div>
      <% @spotList.take(3).each do |item| %>
        <div class="white-text card-panel teal trip-places">
          <p><%= item['name'] %></p>
          <p><a href = "http://maps.google.com/maps?q=<%= item['vicinity'] %>"target="_blank"> <%= item['vicinity'] %></a></p>
          <p>Rating: <%= (item['rating']*20).floor %>% | Price: <%= item['price_level'] %>/4</p>
          
          <%= form_for :destination do |d| %>
            <%= d.text_field :place, value: item['name'], class: "hide" %>
            <%= d.text_field :url, value: "http://maps.google.com/maps?q=" + item['vicinity'], class: "hide"%>
            <%= d.submit "choose", class: "btn green" %>
          <% end %>
        </div>
      <% end %>
    
    </div>
  </div>
</div>

<div class="hide">
  <div class="type">show</div>
  <div id="paramid"><%= params[:id] %></div>
  <div id="paramdest"><%= params[:dest] %></div>
  <div id="start"><%= @trip.start_point %></div>
  <div id="end"><%= @trip.end_point %></div>
</div>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= @gmap %>&callback=initMap">
</script>