<!-- home page  -->
<div id="wrapper">
	<div class = "container" id = "trip-form">
		<h1 id="hlanding">Trippin Made Easy.</h1>
		<p id="planding">Tripper is a road trip app made easy. Competitors obscure your opportunities to enjoy life
			by giving you too many choices. Fret not weary traveler, for with tripper salvation is at hand!
		</p>
		<div class="loginbuttons">
		<%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-primary #283593 indigo darken-3" %>
		</div>
		<div class="rowlanding">
		      <div class="row">
		  	      <%= form_for :trip, url: trip_create_path do |f|%>
		  	       <div class="col s6"><%=f.text_field :start_point, class: "validate", placeholder: 'Starting Location', autofocus: true, class: "white-text" %> </div>
		           <div class="col s6"><%= f.text_field :end_point, placeholder: 'Ending Location', class: "white-text"%></div>
		           <div class="col s12"><%= f.text_field :trip_name, placeholder: 'Your Trip Name', class: "white-text" %></div>
		           <div><a class="waves-effect waves-light btn #ffe082 amber lighten-3 black-text"><%= f.submit %></a></div>
		           <% end %>
		       </div>
	  	</div>
	</div>
</div>	

