<div class = "container" id = "trip-form">
	<h1 id="hlanding">Trippin Made Easy.</h1>
	<p id="planding">Tripping is a road trip app made easy. Competitors cloud your ability to enjoy life
	by giving you the obnoxious ability to make choices. Fret not weary traveler, for salvation is at hand!
	</p>
	<div class="rowlanding">
	      <div class="row">
	  	      <%= form_for :trip, url: trip_create_path do |f|%>
	  	      <div class="col s6">
	          <%=f.text_field :start_point, class: "validate"%>
	          </div>
	           <div class="col s6"><%= f.text_field :end_point %></div>
	          
	           
	           <div class="col s12"><%= f.text_field :trip_name %></div>
	          
	           <div>
	          <%= f.submit %>
	          </div>
	           <% end %>
	       </div>
  	</div>
</div>
	       <!--  <div class="input-field col s6">
	          <i class="material-icons prefix">location_on</i>
	          <input id="icon_telephone" type="text" class="validate">
	          <label for="icon_telephone">Destination</label>
	        </div> -->