<div class="row">
  <div class="col-trip-edit col s6">
    <span class="flow-text">
      <div id="map"></div>
      <div id="panel"></div>
    </span>
  </div>
	<div class="col-trip-edit col s6">
		<h1>Plan your Trip</h1>
     	<div class="row">
        <h2><%= @trip.trip_name %></h2>
      </div>
      <form action="#">
      <% @spotList.each do |item| %>
      <div class="well">
        <input type="checkbox" id="<%=item["name"]%>" />
        <label for="<%=item["name"]%>">
        <%= item["name"] %></label>
        <h6>Rating: <%= item["rating"] %></h6>
        <h6>Pricing: <%= item["price_level"] %></h6>
        <h6>Address: <%= item["vicinity"] %></h6>
        </form>

      </div>
      <% end %>

  </div>
</div>

<div class="hide">
  <div id="start"><%= @trip.start_point %></div>
  <div id="end"><%= @trip.end_point %></div>
</div>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= @gmap %>&callback=initMap">
</script>
