<div class="row">
  <div class="col-trip-edit col s6">
    <span class="flow-text">
      <div id="map"></div>
      <div id="panel"></div>
    </span>
  </div>
	<div class="col-trip-edit col s6">
		<!-- <h1>Plan your Trip</h1> -->
    <div class="trip_box">
     	<div class="row">
        <h3><%= @trip.trip_name %></h3>
      </div>
      <form action="#">
      <% @spotList.take(3).each do |item| %>
      <div class="well">
        <input type="checkbox" id="<%=item["name"]%>" />
        <label for="<%=item["name"]%>">
<!-- <<<<<<< HEAD -->
        <h5 class="checkbox_items"><%= item["name"] %></h5></label>
        <h6><a href = "http://maps.google.com/maps?q=<%= item["vicinity"] %>" target="_blank"><%= item["vicinity"] %></a></h6>
        <h6>Rating: <%= (item["rating"]*20).floor %>%</h6>
        <h6>Pricing: <%= item["price_level"] %>/4</h6>
<!-- ======= -->
<!-- >>>>>>> 12fa6a0b5208f20f398167c07fad29f35eff5482 -->
      </div>
      <% end %>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        </button>
      </form>
    </div>
  </div>
</div>

<div class="hide">
  <div id="start"><%= @trip.start_point %></div>
  <div id="end"><%= @trip.end_point %></div>
</div>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= @gmap %>&callback=initMap">
</script>
