<!-- <h1>Trip#new</h1>
<p>Find me in app/views/trip/new.html.erb</p> -->
<div class="row">
  <div class="col-trip-edit col s6">
    <span class="flow-text">
      <h5>Map div here</h5>
      <div id="map"></div>
      <div id="panel"></div>
    </span>
  </div>
	<div class="col-trip-edit col s6">
		<h5>Trip New Page</h5>
		<div class="row">
    		<form class="col s12">
     			<div class="row">
       				<div class="input-field col s12">
        				<input id="trip_name" type="text" class="validate">
          			<label for="trip_name">Trip Name</label>
        			</div>
      		</div>
    		</form>
  	</div>
      <form action="#">
      <% @spotList.take(3).each do |item| %>
      <div class="well">
        <input type="checkbox" id="<%=item["name"]%>" />
        <label for="<%=item["name"]%>">
        <%= item["name"] %></label>
        <h6>Rating: <%= item["rating"] %></h6>
        <h6>Pricing: <%= item["price_level"] %></h6>
        <h6>Address: <%= item["vicinity"] %></h6>
        </form>

      </div>
      <% end %>
  </div>
</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= @gmap %>&callback=initMap">
</script>
