<!DOCTYPE html>
<html>
<head>
  <title>Tripper</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <link rel="styesheet" href="assets/stylesheets/styles">
  <link href='https://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>

</head>
<body>

  <nav>
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo center">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <% if @current_user %>
        <li><a href="/auth/logout">LOGOUT</a></li>
        <li><a href="/user/index"><%= @current_user.name %></a>
          <% else %>
        <li><a class="waves-effect waves-light btn modal-trigger black" href="#modal1">Login</a></li>
            <div id="modal1" class="modal">
               <div class="modal-content">
               <h4 id="loginheader">Login</h4>
                  <div class="row">
                    <%= form_for :user do |u|%>
                      <%= u.text_field :email, placeholder: 'Email'%>
                      <%= u.password_field :password, placeholder: 'Password'%>
                      <%= u.submit 'Login'%>
                    <%end%>
                  </div>   
               </div>
               <div class="modal-footer">
               <a href="/auth" class="modal-action modal-close waves-effect waves-green btn-flat">Login</a>
               <%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-primary" %>
               </div>
            </div>
        <li><a class="waves-effect waves-light btn modal-trigger black" href="#modal2">Sign Up</a></li>
            <div id="modal2" class="modal">
               <div class="modal-content">
               <h4 id="loginheader">Sign Up</h4>
               <div class="row">
                 <%= form_for :user do |f| %>
            <%= f.text_field :email, placeholder: 'Email'%>
            <%= f.password_field :password, placeholder: 'password' %>
            <%= f.text_field :name, placeholder: 'name'%>
            <%= f.submit 'Sign me up!', class: 'btn btn-flat' %>
          <% end %>
          <% end %>
      </ul>
    </div>
  </nav>

<main>
<%= yield %>
</main>


<footer class="page-footer black">
   <div class="footer-copyright">
      <div class="container">
        <a class="grey-text text-lighten-4 right" href="/static/new">About Us</a>
        <a href="http://www.iconsdb.com/icons/preview/white/github-6-xxl.png" alt="github" width="50" height="50"/></a>
      </div>
   </div>
</footer>
  

<script>
$(document).ready(function() {
   $('.modal-trigger').leanModal();
});
</script>

</body>
</html>
