<!DOCTYPE html>
<html>
<head>
  <title>Tripper</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!-- facebook share button -->
 <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <nav>
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo center">Tripper</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <% if @current_user %>
        <li><a href="/auth/logout">LOGOUT</a></li>
        <li><a href="/trip/statictrip"><%= @current_user.name %></a></li>
        <% else %>
        <li><a class="waves-effect waves-light btn modal-trigger black" data-backdrop='false' href="#loginModal1">Login</a></li>
        <li><a class="waves-effect waves-light btn modal-trigger black" data-backdrop='false' href="#signUpModal1">Sign Up</a></li>
        <% end %>
      </ul>
    </div>
  </nav>

<main>
<%= yield %>
</main>

<footer class="page-footer black">
   <div class="footer-copyright">
      <div class="container">
        <a class="grey-text text-lighten-4 right" href="/static/new">About Us</a>
        <a href="http://www.iconsdb.com/icons/preview/white/github-6-xxl.png" alt="github" width="50" height="50"></a>
      </div>
   </div>
</footer>

<div id="loginModal1" class="modal">
  <div class="modal-content">
    <h4 id="loginheader">Login</h4>
    <div class="rowlanding">
      <%= form_for :user, url: auth_user_path do |u|%>
      <%= u.text_field :email, placeholder: 'Email'%>
      <%= u.password_field :password, placeholder: 'Password'%>
    </div>   
  </div>
  <div class="modal-footer">
    <%= u.submit 'Login', class: "modal-action modal-close waves-effect waves-green btn-flat"%>  
    <%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-primary" %>
  </div>
<% end %>
</div>

<div id="signUpModal1" class="modal">
  <div class="modal-content">
    <h4 id="loginheader">Sign Up</h4>
    <div class="rowlanding">
      <%= form_for :user, url: user_create_path do |f| %>
      <%= f.text_field :name, placeholder: 'Name'%>
      <%= f.text_field :email, placeholder: 'Email'%>
      <%= f.password_field :password, placeholder: 'Password' %>
      <%= f.submit 'Sign me up!', class: 'modal-action modal-close waves-effect waves-green btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#wrapper').tubular({
    videoId: 'ab0TSkLe-E0',
    wrapperZIndex: 5
  });
   $('.modal-trigger').leanModal();
});
</script>

</body>
</html>
